body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    gap: 4rem;
}

.header__link {
    color: #f0f0f0;
    text-decoration: none;
}

.header__link:hover {
    color: #999;
}

main {
    max-width: 80vw;
    margin: 0 auto;
}


h3 {
    color: #f0f0f0;
}

h2.week_id, h3.week_id {
    text-align: center;
}

h3.date_divider {
    padding-top: 5rem;
    margin-bottom: 2.5rem;
}

h3.date_divider:nth-of-type(1) {
    padding-top: 1.5rem;
}

main a {
    color: #f0f0f0;
    text-decoration: none;
}

main a:hover {
    color: #999;
}

article {
    background-color: #2a2a2a;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.article__title {
    color: #f0f0f0;
    font-size: 1.5em;
    margin: 0.5rem 0 0.5rem 0;
}

.article__published_at {
    color: #999;
    font-size: 0.8em;
}

.article__content {
    color: #f0f0f0;
}

.article__content__read_more {
    margin-top: 0.5rem;
    font-size: 125%;
}

.article__meta {
    color: #999;
    font-size: 0.8em;
}

footer {
    background-color: #333;
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

footer a {
    color: #f0f0f0;
    text-decoration: none;
}

footer a:hover {
    color: #999;
}

#calendar {
    max-width: 900px;
    margin: 50px auto;
}

.search-container {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    max-width: 500px;
    margin: 0 auto;
      color-scheme: dark;

}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
}

input[type="text"]::placeholder {
    color: #888888;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}