body {
    background-color: #060525;
    color: #f0f0f0;
    font-family: "Inter", sans-serif;
    margin: 0;
}

header {
    color: #f0f0f0;
    padding: 10px;
    text-align: center;
}

header ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    padding: 0;
    gap: 4rem;
    margin: 0 auto;
}

.header__link {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.header__link:hover {
    color: #00ffc9;
}

.flex-container {
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    gap: 20px;
}

main {
    min-height: 80vh;
    flex: 3;
}

.heading-container {
    text-align: center;
}

h1, h2, h3, h4, .article__title {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
}

h2.week_id, h3.week_id {
    text-align: center;
}

h3.date_divider {
    padding-top: 5rem;
    /* margin-bottom: 2.5rem; */
}

h3.date_divider:nth-of-type(1) {
    padding-top: 1.5rem;
}

h3.date_divider a {
    color: #00ffc9;
}

main a, header a, heaer a:hover {
    color: #f0f0f0;
    text-decoration: none;
}

article {
    background: #0e0f2f;
    border-radius: 5px;
    padding: 4px 20px 4px 20px;
    margin-bottom: 15px;
    border: 1px solid #17183c;
}

.article__title {
    color: #f0f0f0;
    font-size: 1.5em;
    margin: 0.5rem 0 0.5rem 0;
}

.article__title a {
    position: relative;
    display: inline;
    background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
    background: -webkit-linear-gradient(left, currentColor 0%, currentColor 100%);
    background: -o-linear-gradient(left, currentColor 0%, currentColor 100%);
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 2px;
    background-position: 0px 95%;
    -webkit-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    -o-transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
    padding: 0.1% 0px;
    background-repeat: no-repeat;
    color: inherit;
}

.article__title a:hover {
    background-size: 100% 2px;
}

.article__published_at {
    color: #999;
    font-size: 0.8em;
}

.article__content {
    color: #f0f0f0;
    line-height: 1.3em;
}

.article__content__read_more a {
    color: #04F3F3;
    font-size: 0.8em;
}

.article__content__read_more a:hover {
    color: #04F3F3;
}

.article__content__read_more{
    position: relative; /* Potřebné pro umístění šipky relativně k textu */
    display: inline-block;
  }

.article__content__read_more i {
    transition: all 0.3s ease; /* Nastavení animace */
}

.article__content__read_more:hover i {
    transform: translateX(5px); /* Pohyb šipky doprava při najetí */
}

.article__meta {
    color: #999;
    font-size: 0.8em;
}

.article__meta .article__category {
    color: #03ae84;
    text-transform: uppercase;
}

.article__meta i.fas {
    color: #04F3F3;
}

aside {
    flex: 1;
}

footer {
    color: #f0f0f0;
    text-align: center;
    font-size: 14px;
}

.footer-inner {
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    gap: 20px;
    justify-content: space-between; /* Distribute space between items */
    align-items: flex-end; /* Align items to the bottom */
    border-top: 1px solid #2f2c43;
}

footer a {
    text-decoration: none;
    color: #04F3F3;
}

footer a:hover {
    text-decoration: underline;
}

.footer-inner .copyright {
    flex: 0 0 auto; /* Allow copyright to wrap */
    text-align: left; /* Align copyright to the left */
}

.footer-inner .social-media {
    flex: 0 0 auto; /* Allow social media to wrap */
    text-align: right; /* Align social media to the right */
}

#calendar {
    max-width: 900px;
    margin: 50px auto;
    font-size: 12px;
    min-height: 390px;
}

.fc .fc-scroller-harness-liquid {
    overflow: hidden !important;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
    background: none;
    border: 0;
    padding: 0;
}

.fc .fc-button-primary:focus {
    box-shadow: none;
}

.fc .fc-col-header-cell-cushion{
    padding: 10px 0;
}

.fc .fc-scrollgrid-liquid {
    background: #0e0f2f;
    border: 1px solid #17183c;
    border-radius: 5px;
}

.fc .fc-daygrid-day-top {
    display: block;
    text-align: center;
}

.fc .fc-daygrid-day.fc-day-today {
    background: #0e0f2f;
}

.fc .fc-scrollgrid-liquid, .fc-theme-standard td, .fc-theme-standard th {
    border: 0;
}

.search-container {
    padding: 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    color-scheme: dark;
}

form {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: fit-content;
}

input[type="text"], input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #EFEDFF;
    color: #060525;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

input[type="text"]::placeholder {
    color: #060525;
    font-family: "Inter", sans-serif;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e70898;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #00ffc9;
    color: #333;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e70898;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 6px 3px;
    font-size: 14px;
    font-weight: 600;

}

.btn:hover {
    background-color: #00ffc9;
    color: #333;
}

/* Responzivita pro mobilní zařízení */
@media all and (max-width: 768px) {
    .flex-container {
      flex-direction: column;
      gap: 0;
      margin: 0;
      padding: 0 20px;
    }

    .flex-container,
    form {
      flex-direction: column;
    }

    main,
    aside {
      flex: 1;
      margin-bottom: 20px;
    }

    .search-container {
        margin: 0 auto;
    }
}
