<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - Disinfo Digest</title>
    {% else %}
    <title>Welcome to Disinfo Digest</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
<header>
    <h1>Disinfo Digest</h1>
    <ul>
        <li><a href="/" class="header__link">Home</a></li>
        <li><a href="/changelog" class="header__link">Changelog</a></li>
    </ul>

    <div class="search-container">
        <form action="/" method="get">
            <input type="text" placeholder="Search..." name="search">
            <input type="date" name="start-date">
            <input type="date" name="end-date">
            <button type="submit">Search</button>
        </form>
    </div>

</header>
<hr>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <hr>
    <p>Disinfo Digest is a project by <a href="https://github.com/jvetvicka">Jiri Vetvicka</a> and <a
            href="https://github.com/msamyel">Matej Voslar</a></p>
</footer>
</body>
</html>