<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - KyberZprávy</title>
    {% else %}
    <title>KyberZprávy</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='kz_favico_tp.png') }}">
</head>
<body>
<header>
    <h1><a href="/">KyberZprávy.cz</a></h1>
    <ul>
        <li><a href="/" class="header__link">Domů</a></li>
        <li><a href="/changelog" class="header__link">Changelog</a></li>
    </ul>

    <div class="search-container">
        <form action="/" method="get">
            <input type="text" placeholder="Hledat..." name="search_query" value="{{search_query if search_query }}">
            <input type="date" name="search_from" value="{{search_from}}">
            <input type="date" name="search_until" value="{{search_until}}">
            <button type="submit">Hledat</button>
        </form>
    </div>

</header>
    {% block content %}{% endblock %}
<footer>
    <hr>
    <p>O chod webu se starají <a href="https://jvetvicka.github.io/">Jiří Větvička</a> a <a
            href="https://matejvi.cz/">Matěj Voslař</a>.</p>
</footer>
</body>
</html>