{% extends "base.html" %}

{% block content %}
<div class="flex-container">
    <main>
        <div class="heading-container">
            <h2>Changelog</h2>
        </div>
        <p>
            Tento web automaticky zaznamenává zprávy o dezinformacích, kyberbezpečnosti, nebo o světových konfliktech z
            mnoha zdrojů.
        </p>
        <p>
            Zveme vás k tomu, abyste naše stránky pravidelně navštěvovali a zvýšili své povědomí o těchto tématech.
        </p>
        <p>
            Pro analytické účely níže zaznamenáváme změny, které jsme na webu provedli.
        </p>
        <h3>Seznam změn</h3>
        <article>
            <h4>18.7. 2024</h4>
            <p class="article__content">
                Zprávy jsou nyní sbírány z následujících zdrojů:
                <a href="https://hlidacipes.org/feed/" target="_blank">hlidacipes.org</a>,
                <a href="https://www.irozhlas.cz/rss/irozhlas/tag/7708693" target="_blank">iRozhlas Ověřovna</a>,
                <a href="https://denikn.cz/minuta/feed/" target="_blank">denikn.cz</a>,
                <a href="https://dennikn.sk/minuta/feed" target="_blank">dennikn.sk</a>,
                <a href="https://dennikn.sk/rss/" target="_blank">dennikn.sk</a>,
                <a href="https://denikn.cz/rss/" target="_blank">denikn.cz</a>,
                <a href="https://www.mvcr.cz/chh/SCRIPT/rss.aspx?nid=" target="_blank">mvcr.cz</a>,
                <a href="https://cedmohub.eu/cs/feed/" target="_blank">cedmohub.eu</a>,
                <a href="https://europeanvalues.cz/cs/feed/" target="_blank">europeanvalues.cz</a>,
                <a href="https://www.voxpot.cz/feed/" target="_blank">voxpot.cz</a>,
                <a href="https://www.aktuality.sk/rss/" target="_blank">aktuality.sk</a>,
                <a href="https://zpravy.aktualne.cz/rss/" target="_blank">aktualne.cz</a>,
                <a href="https://www.seznamzpravy.cz/rss" target="_blank">seznamzpravy.cz</a>,
                <a href="https://www.irozhlas.cz/rss/irozhlas/section/zpravy-domov" target="_blank">iRozhlas Domov</a>,
                <a href="https://www.irozhlas.cz/rss/irozhlas/section/zpravy-svet" target="_blank">iRozhlas Svět</a>,
                <a href="https://www.lupa.cz/rss/clanky/" target="_blank">lupa.cz</a>,
                <a href="https://www.denik.cz/rss/zpravy.html" target="_blank">denik.cz</a>,
                <a href="https://www.novinky.cz/rss" target="_blank">novinky.cz</a>,
                <a href="https://euractiv.cz/feed/" target="_blank">euractiv.cz</a>,
                <a href="https://euractiv.sk/feed/" target="_blank">euractiv.sk</a>,
                <a href="https://cc.cz/feed/" target="_blank">cc.cz</a>,
                <a href="https://www.ceskenoviny.cz/sluzby/rss/cr.php" target="_blank">ceskenoviny.cz</a>,
                <a href="https://www.ceskenoviny.cz/sluzby/rss/svet.php" target="_blank">ceskenoviny.cz</a>,
                <a href="https://www.zive.cz/rss/sc-47/" target="_blank">zive.cz</a>,
                <a href="https://servis.idnes.cz/rss.aspx?c=zpravodaj" target="_blank">idnes.cz</a>,
                <a href="https://ct24.ceskatelevize.cz/rss/tema/hlavni-zpravy-84313"
                   target="_blank">ceskatelevize.cz</a>,
                <a href="https://domaci.hn.cz/?m=rss" target="_blank">hn.cz</a>,
                <a href="https://zahranicni.hn.cz/?m=rss" target="_blank">hn.cz</a>,
                <a href="https://www.investigace.cz/feed/" target="_blank">investigace.cz</a>,
                <a href="https://www.sme.sk/rss-title" target="_blank">sme.sk</a>,
                <a href="https://spravy.rtvs.sk/feed/" target="_blank">rtvs.sk</a>,
                <a href="https://www.respekt.cz/api/rss?type=articles&unlocked=1" target="_blank">respekt.cz</a>,
                <a href="https://refresher.cz/rss" target="_blank">refresher.cz</a>,
                <a href="https://refresher.sk/rss" target="_blank">refresher.sk</a>,
                <a href="https://www.tyzden.sk/feed/" target="_blank">tyzden.sk</a>,
                <a href="https://hnonline.sk/feed" target="_blank">hnonline.sk</a>,
                <a href="http://www.teraz.sk/rss/slovensko.rss" target="_blank">teraz.sk</a>,
                <a href="http://www.teraz.sk/rss/zahranicie.rss" target="_blank">teraz.sk</a>,
                <a href="https://pepikhipik.com/feed/" target="_blank">pepikhipik.com</a>,
                <a href="https://www.wired.cz/atom/feed.xml" target="_blank">wired.cz</a>,
                <a href="https://cesti-elfove.cz/feed/" target="_blank">cesti-elfove.cz</a>.
            </p>
            <p class="article__content">S vyjímkou <i>cedmohub.eu, iRozhlas ověřovny, a českých elfů</i>, od kterých
                zveřejňujeme každou zprávu, jsou vybrány pouze zprávy, které obsahují některé z následujících klíčových
                slov: <i>dezinformace, misinformace, malinformace, hoax, konspirace, konspirační teorie, fake news, doba
                    postfaktická, pseudověda, chemtrails, propaganda, spamouflage, dragonbridge, storm 1376, false flag,
                    falešná vlajka, algoritmy, nenávistné komentáře, Tomáš Čermák, Lubomír Volný, Patrik Tušl, Jan
                    Macháček, Petr Bílý, Jakub Netík, Pavel Zítko, Ladislav Vrabel, Vladimír Kapal, Jana Peterková,
                    Jindřich Rajchl, Žarko Jovanovič, Ivan Smetana, Petr Hájek, Marek Pešl, Ondřej Geršl, Ondřej Thor,
                    Raptor-TV, Aeronet, Aliance pro rodinu, umělá inteligence, deepfake, AI, phishing, kyberbezpečnost,
                    botnet, ddos, scam, smishing, vishing, hacking, phreaking, ransomware, sociální inženýrství, únik
                    dat, zero-day, zero day, krádež identity, malware, hijacking, podvod, clickbait, spam, kyberšikana,
                    doxx, doxing, brigading, stalkgin, sextortion, troll, gaslighting, mediální gramotnost, řetězový
                    email, svoboda slova, cenzúra, cenzura, newspeak, fact-checking, overovanie faktov, ověřování faktů,
                    prebunking, debunking, krajní pravice, extrémní pravice, krajní levice, extrémní levice, redpilling,
                    radikalizace, weaponizace, MAGA, qanon, infowars, trumpismus, extremismus, antisemitismus,
                    manosféra, mansplaining, machismus, misogyn, mizogyn, šovinismus, terorismus, konfirmační bias,
                    kritické myšlení, hybridní hrozby, informační válka, informační operace, strategická komunikace,
                    StratCom, manipulace, narativ, mystifikace, NÚKIB</i>.</p>
        </article>
        <article>
            <h4>26.6. 2024</h4>
            <p class="article__content">
                Web byl uveden v provoz. </p>
            <p class="article__content"> Zprávy jsou sbírány z následujících zdrojů:
                <a href="https://hlidacipes.org/feed/" target="_blank">hlidacipes.org</a>,
                <a href="https://www.irozhlas.cz/rss/irozhlas/tag/7708693" target="_blank">irozhlas.cz</a>,
                <a href="https://denikn.cz/minuta/feed/" target="_blank">denikn.cz</a>,
                <a href="https://www.mvcr.cz/chh/SCRIPT/rss.aspx?nid=" target="_blank">mvcr.cz</a>,
                <a href="https://cedmohub.eu/cs/feed/" target="_blank">cedmohub.eu</a>,
                <a href="https://europeanvalues.cz/cs/feed/" target="_blank">europeanvalues.cz</a>,
                <a href="https://demagog.cz/rss/index.atom" target="_blank">demagog.cz</a>,
                <a href="https://www.voxpot.cz/feed/" target="_blank">voxpot.cz</a>,
                <a href="https://www.aktuality.sk/rss/" target="_blank">aktuality.sk</a>,
                <a href="https://zpravy.aktualne.cz/rss/" target="_blank">aktualne.cz</a>,
                <a href="https://www.seznamzpravy.cz/rss" target="_blank">seznamzpravy.cz</a>,
                <a href="https://www.irozhlas.cz/rss/irozhlas/section/zpravy-domov" target="_blank">irozhlas.cz</a>,
                <a href="https://www.irozhlas.cz/rss/irozhlas/section/zpravy-svet" target="_blank">irozhlas.cz</a>,
                <a href="https://www.lupa.cz/rss/clanky/" target="_blank">lupa.cz</a>,
                <a href="https://www.denik.cz/rss/zpravy.html" target="_blank">denik.cz</a>,
                <a href="https://www.novinky.cz/rss" target="_blank">novinky.cz</a>,
                <a href="https://euractiv.cz/feed/" target="_blank">euractiv.cz</a>,
                <a href="https://euractiv.sk/feed/" target="_blank">euractiv.sk</a>,
                <a href="https://cc.cz/feed/" target="_blank">cc.cz</a>,
                <a href="https://www.ceskenoviny.cz/sluzby/rss/cr.php" target="_blank">ceskenoviny.cz</a>,
                <a href="https://www.ceskenoviny.cz/sluzby/rss/svet.php" target="_blank">ceskenoviny.cz</a>,
                <a href="https://www.zive.cz/rss/sc-47/" target="_blank">zive.cz</a>,
                <a href="https://servis.idnes.cz/rss.aspx?c=zpravodaj" target="_blank">idnes.cz</a>,
                <a href="https://ct24.ceskatelevize.cz/rss/tema/hlavni-zpravy-84313"
                   target="_blank">ceskatelevize.cz</a>,
                <a href="https://domaci.hn.cz/?m=rss" target="_blank">hn.cz</a>,
                <a href="https://zahranicni.hn.cz/?m=rss" target="_blank">hn.cz</a>,
                <a href="https://www.investigace.cz/feed/" target="_blank">investigace.cz</a>,
                <a href="https://www.sme.sk/rss-title" target="_blank">sme.sk</a>,
                <a href="https://spravy.rtvs.sk/feed/" target="_blank">rtvs.sk</a>,
                <a href="https://www.respekt.cz/api/rss?type=articles&unlocked=1" target="_blank">respekt.cz</a>,
                <a href="https://refresher.cz/rss" target="_blank">refresher.cz</a>. </p>
            <p class="article__content">Jsou vybírány pouze zprávy, které v úvodní části textu obsahují jedno z
                následujících klíčových slov:
                dezinforma, misinformace, hoax, fake news, propaganda, dezinformacie, podvod, twitter, facebook, umělá,
                musk, threads, tik tok, faleš, konspirační, deepfake, manipulace, botnet, ddos, troll, sociální
                inženýrství,
                clickbait, kybernetick, sociální sítě, mediální gramotnost, ověřování faktů, řetězový, svoboda slova,
                fact-checking, faloš, manipulácia, cenzúr, cenzur, algoritmy, overovanie faktov, misinformácie</p>
        </article>
    </main>
</div>
{% endblock %}