{% extends "base.html" %}

{% block content %}
<main>
    <div class="heading-container">
        <h2>Changelog</h2>
    </div>
    <p>
        Tento web automaticky zaznamenává zprávy o dezinformacích, kyberbezpečnosti, nebo o světových konfliktech z mnoha zdrojů.
    </p>
    <p>
        Zveme vás k tomu, abyste naše stránky pravidelně navštěvovali a zvýšili své povědomí o těchto tématech.
    </p>
    <p>
        Pro analytické účely níže zaznamenáváme změny, které jsme na webu provedli.
    </p>
    <h3>Seznam změn</h3>
    <article>
        <h4>26.6. 2024</h4>
        <p class="article__content">
            Web byl uveden v provoz.
        </p>
    </article>
</main>
{% endblock %}