{% extends "base.html" %}

{% block content %}
{{ moment.include_moment() }}
{{ moment.lang('cs') }}

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          firstDay: 1,
          events: [
            {% for article_count in article_counts %}
            {
              title: '{{ article_count.count }}',
              start: '{{ article_count.date }}',
              url: '/date/{{ article_count.date }}#{{ article_count.date }}'
            },
            {% endfor %}
          ]
        })
        calendar.render()
      })

    </script>


{% if date %}
    <h2 class="week_id">{{ moment(start_day).format('DD. MMMM') }} – {{ moment(end_day).format('DD. MMMM') }} </h2>
<h3 class="week_id">Rok {{ year }}, týden {{ week }}.</h3>
{% else %}
    <h2>Nejnovější články</h2>
{% endif %}
    {% set ns = namespace(day='') %}
    {% for article in articles %}
        {% if article.published_at_cet_str != ns.day %}
            <h3 class="date_divider">
                <a id="{{ article.published_at_cet_str }}" href="#{{ article.published_at_cet_str }}">
                    {{ moment(article.published_at_cet).format('dddd LL') }}
                </a>
            </h3>
            {% set ns.day = article.published_at_cet_str %}
        {% endif %}
        <article>
            <h4 class="article__title"><a target="_blank" href="{{ article.url }}">{{ article.title|safe }}</a></h4>

            <p class="article__meta">
                {{ moment(article.published_at_cet).format('dddd LL') }},
                <span class="article__domain">{{ article.domain }}</span>
            </p>
            <p class="article__content">{{ article.content|safe }}
            <span class="article__content article__content__read_more"><a target="_blank" href="{{ article.url }}">Číst dále...</a></span>
            </p>
        </article>
    {% endfor %}

    <div id='calendar'></div>
{% endblock %}