{% extends "base.html" %}

{% block content %}
{{ moment.include_moment() }}
{{ moment.lang('cs') }}
<div class="flex-container">
<main>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.42/moment-timezone-with-data.min.js"></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.getElementById('calendar')
        const calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          firstDay: 1,
          events: [
            {% for article_count in article_counts %}
            {
              title: '{{ article_count.count }} článků',
              start: '{{ article_count.date }}',
              url: '/date/{{ article_count.date }}#{{ article_count.date }}'
            },
            {% endfor %}
          ]
        })
        calendar.render()
      })

    </script>


{% if not articles %}
    <div class="heading-container">
        <h2 class="week_id">Žádné články</h2>
    </div>
{% else %}
{% if is_search %}
        <div class="heading-container">
    <h2 class="week_id">Výsledky vyhledávání</h2>
        </div>
{% elif date %}
        <div class="heading-container">
    <h2 class="week_id"><span class="date-to-format" data-date="{{start_day}}" data-format="DD. MMMM">></span>
        –
        <span class="date-to-format" data-date="{{end_day}}" data-format="DD. MMMM"></span></h2>
<h3 class="week_id">Rok {{ year }}, týden {{ week }}.</h3>
                </div>
{% else %}
        <div class="heading-container">
    <h2 class="week_id">Nejnovější články</h2>
    </div>
{% endif %}

    {% set ns = namespace(day='') %}
    {% for article in articles %}
        {% if article.published_at_cet_str != ns.day %}
            <h3 class="date_divider">
                <a
                        id="{{ article.published_at_cet_str }}"
                        href="#{{ article.published_at_cet_str }}"
                        class="date-to-format"
                        data-date="{{ article.published_at_cet}}"
                        data-format="dddd LL"></a>
            </h3>
            {% set ns.day = article.published_at_cet_str %}
        {% endif %}
        <article>
            <h4 class="article__title"><a target="_blank" href="{{ article.url }}">{{ article.title|safe }}</a></h4>

            <p class="article__meta">
                <i class="fas fa-calendar"></i> <span class="date-to-format" data-date="{{ article.published_at_cet }}" data-format="dddd LL"></span>
                <span class="article__domain"><i class="fas fa-link"></i> {{ article.domain }}</span>
                <!--<i class="fas fa-tags"></i> <span class="article__category">{{ article.hashtags }}</span>-->
            </p>
            <p class="article__content">{{ article.content|safe }}
            <span class="article__content article__content__read_more"><a target="_blank" href="{{ article.url }}">Číst&nbsp;dále <i class="fa-solid fa-angle-right"></i></a></span>
            </p>
        </article>
    {% endfor %}
{% endif %}
</main>
<aside>
    <!--
    <a class="post-tag btn btn-outline-primary" href="/tags/facebook/">propaganda</a>
    <a class="post-tag btn btn-outline-primary" href="/tags/gork/">dezinformace</a>
    <a class="post-tag btn btn-outline-primary" href="/tags/in-progress/">cenzura</a>
    <a class="post-tag btn btn-outline-primary" href="/tags/m%C3%A9dia/">média</a>
    <a class="post-tag btn btn-outline-primary" href="/tags/nez%C3%A1visl%C3%A9-zpravodajstv%C3%AD/">nezávislé zpravodajství</a>
    <a class="post-tag btn btn-outline-primary" href="/tags/telegram/">telegram</a>
    <a class="post-tag btn btn-outline-primary" href="/tags/x/">Elon Musk</a>
    -->
    <div id='calendar'></div>
</aside>
</div>

<!-- transform all dates with the class "date-to-format" using moment.js -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Select all elements with the class "date-to-format"
            var elements = document.querySelectorAll('.date-to-format');

            elements.forEach(function(element) {
                var date = element.getAttribute('data-date');
                var format = element.getAttribute('data-format');

                var dateInCET = moment(date).tz('Europe/Berlin');
                var formattedDate = dateInCET.format(format);

                element.textContent = formattedDate;
            });
        });
    </script>
{% endblock %}
